* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  height: 120vh;
}
.header-container {
  height: 15%;
  background-color: #3367d6;
  display: flex;
  align-items: center;
}
.app-logo {
  height: 20%;
  width: 26%;
  margin-left: 20px;
}
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 74%;
}
.search-icon {
  height: 100%;
  width: 10%;
  border: 1px solid #6697ff;
  background-color: #2850a7;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-input {
  color: #ffffff;
  height: 100%;
  width: 60%;
  border: 1px solid #6697ff;
  border-left: none;
  background-color: #2850a7;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 10px;
}
.search-results-container {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.history-container {
  list-style-type: none;
  height: 95%;
  width: 95%;
  box-shadow: 2px 2px 16px 0px #64748b;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.empty-results-message {
  color: #475569;
  font-size: 22px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .empty-results-message {
    font-size: 38px;
  }
  .search-input {
    font-size: 26px;
  }
}
